.nav {
    width: 1300px;
    height: 56px;
    border-radius: 0 0 24px 24px ;
    margin: -16px auto 0 auto;
    text-align: center;
    background-color: #8AAAD4;
}

.nav-items {
    padding: 16px 0 0 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 48px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active,
.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
    color: #0D1B2A;
    font-weight: 600;
    font-size: 24px;
    height: 20px;
    line-height: 20px;

}

.nav-link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(10px);
    transform: translateX(-50%) translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:hover::before {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(5px);
    transform: translateX(-50%) translateY(5px);
}

.dropdown {
    position: relative;
}

.dropdown .nav-link {
    padding-right: 15px;
    height: 20px;
    line-height: 20px;
}

.dropdown .nav-link::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    border: 5px solid transparent;
    border-top-color: #0D1B2A;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100;
    width: 200px;
    margin-left: -100px;
    background: #fff;
    border-radius: 3px;
    line-height: 1.46667;
    margin-top: -5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    opacity: 0;
    -webkit-transform: translate(0, 0) scale(.85);
    transform: translate(0, 0)scale(.85);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.submenu-items {
    list-style: none;
    padding: 10px 0;
}

.submenu-item {
    display: block;
    text-align: left;
}

.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
    color: #0D1B2A;
    padding: 10px 20px;
}

.submenu-link:hover {
    text-decoration: underline;
}

.show-submenu .submenu {
    opacity: 1;
    -webkit-transform: translate(0, 25px) scale(1);
    transform: translate(0, 25px) scale(1);
    pointer-events: auto;
}

#show-sign-up,
#show-sign-in {
    cursor: pointer;
}